@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@300;400;500;600&family=DM+Mono:wght@400;500&display=swap");
@import "tailwindcss";

@theme {
  --color-base-300: #e7e2df;
  --color-base-200: #efeae6;
  --color-base-100: #faf7f5;

  --color-outlineColor: #d0cace;

  --color-primary: #181A18;
  --color-secondary: #19181f;
  --color-subtext: #4b4a49;

  --color-buttonHover: #333333;

  --color-gold: #8a6000;
  --color-silver: #aaaaaa;

  --font-display: "Bebas Neue", cursive;
  --font-sans: "DM Sans", sans-serif;
  --font-mono: "DM Mono", monospace;
}
