@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@300;400;500;600&family=DM+Mono:wght@400;500&display=swap");
@import "tailwindcss";
@variant dark (&:is(.dark *));

@theme {
  --color-base-300: #e7e2df;
  --color-base-200: #efeae6;
  --color-base-100: #faf7f5;

  --color-outlineColor: #d0cace;

  --color-primary: #181a18;
  --color-secondary: #19181f;
  --color-subtext: #4b4a49;

  --color-buttonHover: #333333;

  --color-gold: #8a6000;
  --color-gold2: #fef3cd;
  --color-silver: #585858;
  --color-silver2: #efefef;
  --color-basic: #f0f0eb;

  --font-display: "Bebas Neue", cursive;
  --font-sans: "DM Sans", sans-serif;
  --font-mono: "DM Mono", monospace;
}

.dark {
  --color-base-300: #1b1b1d;
  --color-base-200: #0c0c0e;
  --color-base-100: #141416;

  --color-outlineColor: #3a3a40;

  --color-primary: #f0eeec;
  --color-secondary: #e0ddd9;
  --color-subtext: #9a9894;

  --color-gold: #ffdc04;
  --color-gold2: #312a19;
  --color-silver: #c0c0c0;
  --color-silver2: #28282b;
  --color-basic: #1e1e22;

  --color-buttonHover: #bdbbb9;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

::-webkit-calendar-picker-indicator {
  opacity: 0.4;
  cursor: pointer;
}

.dark ::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.5;
  cursor: pointer;
}
